/*
Project Name: Sweet Dream CSS 
School: County College of Morris
Semester: Spring 2021
Professor: Michael Sidaras-Tirrito
Course: CMP244 Web Design II
Section: 26231
Date Modified: 25 April 2021
*/

body
{
  padding: 0px;
}
