/*
Project Name: Sweet Dream CSS
School: County College of Morris
Semester: Spring 2021
Professor: Michael Sidaras-Tirrito
Course: CMP244 Web Design II
Section: 26231
Date Modified: 25 April 2021
*/

#wrapper { background-color: #003366; }

/*"Casey" I added some aside code I'm also going to drop some code in here and there, but I will add comments so you know where I added things. */
/* Ps. enjoy your time with your boyfriend */

aside
{
  background-color: #0066cc;
  float: right;
  width: 30%;
  padding-top:1em;
  overflow: scroll;
  padding-left: 2em;
}

body
{
  padding: 15px;
  background-color: #0000A0;
  color: #fff;
}

footer
{
  font-style: italic;
    /* I added the code below */
    background-color: lightblue;
    width: 100%;
    float:left;
    padding-bottom: 5px;
    border-top: 3px solid black;
}

h1, h2, h3, h4
{
  color: #fff;
  font-family: "courier New", courier, monospace;
  line-height: 5px;
}

h1
{
  text-align: center;
}

main	{
  padding-left:2em;
	line-height:2.2em;
  width: 45%;
}
/* nav section */

nav a
{
  text-decoration: none;
	font-weight:bold;
  color:#fff;
}
nav a:hover{color:#549BFF;}
nav ul
{
  list-style-type:none;
  margin:0;
  font-size: 1.2em;
  padding-left: 1.5em;
  text-align: center;
  padding-bottom: 1.3em;
  padding-top: .5em;
  }
nav li
{
  display: inline;
  padding: 2.4em;
}

p
{
  font-family: serif;
}

section
{
  padding-bottom: 2em;
}




}
