/*
Project Name: Sweet Dream CSS
School: County College of Morris
Semester: Spring 2021
Professor: Michael Sidaras-Tirrito
Course: CMP244 Web Design II
Section: 26231
Date Modified: 5/2/2021
*/

#wrapper { background-color: #003366; }

/* aside section */
aside
{
  background-color: #0066cc;
  float: right;
  width: 25%;
  padding-top:1em;
  overflow: scroll;
  padding-left: 1.5em;
  padding-right: 1.5em;
  border-radius: 25px;
}
aside h3
{
  line-height: 1.3em;
}

aside p
{
  letter-spacing: .15em;
}

aside section
{
  padding-bottom: .5em;
}
/* end aside section */

body
{
  padding: 7em;
  color: #fff;
}

footer
{
    font-style: italic;
    background-color: #0066cc;
    width: 100%;
    float:left;
    padding-bottom: 5px;
    border-top: 3px solid black;
}

h1, h2, h3, h4
{
  color: #fff;
  font-family: "courier New", courier, monospace;
  line-height: 5px;
}

h1
{
  text-align: center;
  font-size: 225%;
}

h3
{
  font-size: 150%;
}

h4
{
  line-height: 1.2em;
}

main	{
  padding-right: 0px;
	line-height:2.2em;
  width: 45%;
}

main p
{
  line-height: 1.7em;
}

/* nav section */
nav a
{
  text-decoration: none;
	font-weight:bold;
  color:#fff;
}
nav a:hover {color:#549BFF;}
nav ul
{
  list-style-type:none;
  margin:0;
  font-size: 1.2em;
  padding-left: 1.5em;
  text-align: center;
  padding-bottom: 1.5em;
  padding-top: .5em;
  }

nav li
{
  display: inline;
  padding: 2.4em;
}
/* end nav section */

p
{
  font-family: consolas, "lucida console", menlo, monospace;
  font-size: 90%;
  line-height: 1.5em;
}
p a:visited{color: #0066cc;}

section
{
  padding-bottom: 1.3em;
}

/* Classes and IDs */

#caption
{
  font-family: consolas, "lucida console", menlo, monospace;
  padding: 0px;
  font-size: 75%;
  text-align: center;
}
#info
{
  font-family: consolas, "lucida console", menlo, monospace;
  padding: 0px;
  font-size: 75%;
}

#tele
{
  color: #0066cc;
}

/*Photo ID's*/
#patientOfMonth
{
  width: 85%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#logoCT
{
  width: 85%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}


}
