/*
Project Name: Sweet Dream CSS
School: County College of Morris
Semester: Spring 2021
Professor: Michael Sidaras-Tirrito
Course: CMP244 Web Design II
Section: 26231
Date Modified: 25 April 2021
*/

#wrapper { background-color: #0143FF; }
aside
{
  padding: 1.5em;
}

body
{
  padding: 15px;
  background-color: #0000A0;
  color: #fff;
}

footer
{
  font-style: italic;
}

h1, h2, h3, h4
{
  color: #fff;
  font-family: "courier New", courier, monospace;
  line-height: 2em;
}

/* nav section */
nav a
{
  text-decoration: none;
	font-weight:bold;
}
nav ul
{
  list-style-type:none;
}
